<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Mon blog
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		{% block menu %}
			<menu>
				<a href="/">Mon blog</a>
				<a href="/admin/post">Posts</a>
				<a href="/admin/category">Catégories</a>
				<a href="/admin/comment">Commentaires</a>
			</menu>
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
